@{
    ViewBag.Title = "About Fork & Farm";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div class="textbackground smallborder">
<p>Fork & Farm is a web based service created with the intent to connect community farmers with customers including end-consumers, resellers, institutuions and restaurants. 
    The vision encompasses on one side, backyard gardeners being able to earn real money on their crops by selling to local buyers, and on the other side, restaurants, grocers and school cafeterias offering high quality locally grown food.  </p>
<p>I am presenting this website as a final project in my .Net Engineering course at The Iron Yard, Little Rock.  You can see my portfolio and profile <a href="http://michaelnull.github.io">here</a>.<p>
    </div>