@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div class="green">
<address>
   Michael K. Null<br />
  
    <abbr title="Phone">P:</abbr>
    501.712.6723
    </address>
<address>
    <strong>Support:</strong>   <a href="mailto:forkandfarminfo@bpmw.net">forkandfarminfo@bpmw.net</a><br />
</address>
</div>