@model ForkAndFarm.Models.User

@{
    ViewBag.Title = "SupplierPortal";
}

<h2>SupplierPortal</h2>

<table>
    <tr>
        <td><strong>Offers to Sell to Me</strong></td>
        <td>you have @Model.DealsToMe.Count offers on your supply advertisements</td>

    </tr>
    <tr>
        <td><strong>My Supply Offers</strong></td>
        <td>you have @Model.SupplyOffers.Count advertised offers to sell goods</td>
    </tr>
    <tr>
        <td>
            <strong>Search Purchase Orders</strong>
        </td>
        <td>
            <a href="/purchaseoffers/index">see what suppliers are selling right now!</a>
        </td>
    </tr>
    <tr>
        <td>
            <strong>Create a new Offer to Sell Advertisement</strong>
        </td>
        <td>
            <a href="/supplyoffers/create">make a new offer to sell</a>
        </td>
    </tr>
</table>