
@{
    ViewBag.Title = "Fork & Farm Arkansas";
}


<section ng-controller="DisplayController as display" ng-init="display.page = 1" ng-cloak>
    <!--information bar-->
    <div class="textbackground mylist">
       <div class="row topbutton">
           <button class="btn btn-primary" ng-click="display.getdata('/advertisements/allads')">All Ads</button>
           <button class="btn btn-primary" ng-click="display.getdata('/advertisements/supplylist')">Suppliers' Ads</button>
           <button class="btn btn-primary" ng-click="display.getdata('/advertisements/purchaselist')">Purchasers' Ads</button>
           <button ng-hide="display.userinfo.UserName == null" class="btn btn-primary" data-toggle="modal" data-target="#myModal">new ad</button>
       </div>
       

        <div ng-show="display.userinfo.UserName == null"><!--show when no user logged in--><span class="bigtext">Please <a href="/Account/Login">Login</a> or <a href="/Account/Register">Register</a></span></div>
        <div ng-hide="display.userinfo.UserName == null" class="row container"><!--hide when no user logged in-->
           <strong><span>{{display.userinfo.Organization}} {{display.userinfo.Phone}}</span></strong>
        <div class="row">
            <div class="highlight col-xs-6 col-md-3 smallborder" ng-hide="display.userinfo.CountNewResponses==0">
                <a # ng-click="display.getdata('/deals/dealstome'); display.resetcount();">
                    <span>
                        {{display.userinfo.CountNewResponses}}<br />
                        New Responses
                    </span>
                </a>
            </div>
            <div class="col-xs-6 col-md-3 smallborder">
                <a # ng-click="display.getdata('/deals/dealstome'); display.resetcount();">
                <span>
                    {{display.userinfo.DealToMeCount}}<br />
                    Responses to me
                </span>
                    </a>
            </div>
            <div class="col-xs-6 col-md-3 smallborder">
                <a # ng-click="display.getdata('/advertisements/myads')">
                    <span>
                        {{display.userinfo.AdCount}}<br />
                        My Ads
                    </span>
                </a>
            </div>
            <div class="col-xs-6 col-md-3 smallborder">
                <a # ng-click="display.getdata('/deals/dealsfromme')">
                    <span>
                        {{display.userinfo.DealFromMeCount}}<br />
                        my responses to ads
                    </span>
                </a>
            </div>
        </div>
        
        </div>
        
    </div>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create a new Advertisement!</h4>
                </div>
                <div class="modal-body">
                    <form id="createform" name="createform" class="form-horizontal" ng-submit='display.create(newad); createform.$setPristine()'>
                        <div class="form-group">
                            <label class="control-label col-md-2">Product</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" maxlength="20" type="text" ng-model="newad.Product" placeholder="What Product?" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Product" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Quantity</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" type="text" ng-model="newad.Quantity" placeholder="How Many?" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Quantity" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Unit</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" maxlength="20" type="text" ng-model="newad.Unit" placeholder="lbs, quarts, each, etc." />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Unit" data-valmsg-replace="true"></span>
                            </div>
                        </div> 
                        <div class="form-group">
                            <label class="control-label col-md-2">Unit Price</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" type="text" ng-model="newad.UnitPrice" placeholder="how much per?" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Unit Price" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Payment Terms</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" maxlength="10" type="text" ng-model="newad.PaymentTerms" placeholder="cash, net15, etc." />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Payment Terms" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Reference</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" type="text" ng-model="newad.Invoice" placeholder="Invoice or Purchase order #" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Reference" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Memo</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" maxlength="150" type="text" ng-model="newad.Memo" placeholder="put additional information here" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Memo" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Delivery Date</label>
                            <div class="col-md-10">
                                <input id="createDelivery" class="form-control text-box single-line" type="date" ng-model="newad.Delivery" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Delivery Date" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="col-md-offset-1 col-md-1 container">
                            <input class="btn btn-primary" ng-disabled="createform.$pristine" type="submit" value="Submit" />
                        </div>
                        <div class="col-md-offset-3 col-md-1">
                            <input type="reset" class="btn btn-danger" value="Reset" ng-click="createform.$setPristine()" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
   

    <div class="row mylist textbackground">
    <div class="col-lg-3">
        <form>
            <div class="input-group">
                <input type="text" class="form-control" ng-model="searchdata" placeholder="Search for Products..." ng-keypress="display.search('/Advertisements/AllAds/',searchdata)">
                <input class="btn btn-success" type="reset" value="Reset" ng-click="display.getdata('/advertisements/allads')" />
            </div><!-- /input-group -->
        </form>
    </div><!-- /.col-lg-6 -->
        <form>
            <div class="col-lg-3 offset-9">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="orgsearch" placeholder="Search Organizations..." ng-keypress="display.search('/advertisements/searchorg/',orgsearch)">
                    <input class="btn btn-success" type="reset" value="Reset" ng-click="display.getdata('/advertisements/allads')" />
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </form>
       
    </div><!-- /.row -->
    <div class="container">
        
        <div class="container mylist textbackground" ng-repeat="ad in display.show" >
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-1">
                   
                    <div ng-show="ad.AdType == '0'">
                        <img src="~/Content/fork.png" width="50" />
                    </div>
                    
                    <div ng-show="ad.AdType == '1'">
                        <img src="~/Content/gardener.png" width="50" />
                    </div>
                       
                    
                    <div ng-show="ad.AdType != '1' && ad.AdType != '0'">
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        <button class="btn btn-warning" ng-init="id = ad.OfferId" ng-click='display.getonead(id)'>Go To the Ad</button>
                        <span class="highlight" ng-show="ad.IsNew">New Response!</span>
                    </div>
                  <span style="font-size:small;">{{display.getjsdate(ad.CreatedOn) | date: "d MMM h:mm a"}}</span> 
                </div>
                
                <div class="col-xs-6 col-sm-4 col-md-2">
                   <strong>{{ad.Product}}</strong>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-4">
                    {{ad.Quantity}} {{ad.Unit}} at {{ad.UnitPrice | currency}} per {{ad.Unit}} = {{ad.ExtPrice | currency}}
                </div>
               
              
               
                <div class="col-xs-6 col-sm-4 col-md-3">
                    Available on: <br />  {{display.getjsdate(ad.Delivery) | date: "mediumDate"}}
                </div>
               
                <div ng-hide="ad.AdType !='0' && ad.AdType !='1'">
                    <button ng-show="display.userinfo.UserName == ad.ProposedBy" class="btn btn-danger" ng-click="display.deletead(ad.Id)">Delete</button>
                </div>
            </div>
            <div class="row">
                {{ad.ProposedByOrganization}}
            </div>
            <hr class="divider" />
            <div class="row">
                Memo:  {{ad.Memo}}

            </div>
            <div class="row">
                <!--Hide section if transaction not allowed-->
                <div ng-show="(ad.AdType=='0' && display.userinfo.UserRole =='Supplier') || (ad.AdType=='1' && display.userinfo.UserRole=='Purchaser')">
                    <button class="btn btn-warning" ng-click="showOffer = !showOffer">Make an Offer</button>
                </div>

                    <button class="btn btn-link" ng-click="showDetails = !showDetails">Details</button>
                <button class="btn btn-primary pull-right" ng-show="ad.ResponseCount > 0" ng-click="showResponses = !showResponses"><span class="glyphicon glyphicon-envelope" aria-hidden="true"><span class="label label-danger" >{{ad.ResponseCount}}</span></span></button>
                    <div ng-show="showOffer" class="container">
                        <h3>Make an Offer</h3>
                        <form id="offerform" name="offerform" class="form-horizontal"  ng-submit='display.submitoffer(ad.Id, deal); offerform.$setPristine()'>

                            <div class="form-group">
                                <label class="control-label col-md-2">Quantity</label>
                                <div class="col-md-10">
                                    <input class="form-control text-box single-line" type="text" ng-model="deal.Quantity" ng-init="deal.Quantity = ad.Quantity" />
                                    <span class="field-validation-valid text-danger" data-valmsg-for="Quantity" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Unit Price</label>
                                <div class="col-md-10">
                                    <input class="form-control text-box single-line" type="text" ng-model="deal.UnitPrice" ng-init="deal.UnitPrice = ad.UnitPrice" />
                                    <span class="field-validation-valid text-danger" data-valmsg-for="Unit Price" data-valmsg-replace="true"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">Delivery Date</label>
                                <div class="col-md-10">
                                    <input class="form-control text-box single-line" type="date" ng-model="deal.Delivery" ng-init="deal.Delivery = display.getjsdate(ad.Delivery)" />
                                    <span class="field-validation-valid text-danger" data-valmsg-for="Delivery Date" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Payment Terms</label>
                                <div class="col-md-10">
                                    <input class="form-control text-box single-line" maxlength="10" type="text" ng-model="deal.PaymentTerms" ng-init="deal.PaymentTerms = ad.PaymentTerms" />
                                    <span class="field-validation-valid text-danger" data-valmsg-for="Payment Terms" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Memo</label>
                                <div class="col-md-10">
                                    <input class="form-control text-box single-line" type="text" maxlength="150" ng-model="deal.Memo" placeholder="Enter Memo notes here..." />
                                    <span class="field-validation-valid text-danger" data-valmsg-for="Memo" data-valmsg-replace="true"></span>
                                </div>
                            </div>

                            <div class="col-md-offset-2 col-md-1">
                                <input class="btn btn-primary" ng-disabled="offerform.$pristine" type="submit" value="Submit" />
                            </div>
                            <div class="col-md-1">
                                <input type="reset" class="btn btn-danger" value="Reset" ng-click="offerform.$setPristine()" />
                            </div>
                        </form>
                </div><!--end of make offer collapsable section-->
                <div ng-show="showDetails" class="container">
                    <!--collapsible details section-->
                    Ad Details <br />
                    Contact Phone Number: {{ad.ProposedByPhone}} |
                    Reference number: {{ad.Invoice}}
                </div> <!--end of details collapsable section-->
                        <div ng-show="showResponses"> <!--list of offers section-->
                            <div class="container mylist" ng-repeat="response in ad.ResponseToAdvertisement">
                                <div class="container row">
                                    <div>
                                                <button ng-show="response.IsNew && display.userinfo.UserName == response.OfferedTo" class="btn btn-danger" ng-click="display.setold(response.Id); response.IsNew = !response.IsNew">Mark as Viewed!</button>
                                            </div>
                                        <span class="glyphicon glyphicon-envelope"></span>
                                        {{display.getjsdate(response.CreatedOn) | date: "short"}} <br />
                                        {{response.ProposedByOrganization}} |
                                        {{response.Quantity}} {{response.Unit}} |
                                        {{response.UnitPrice | currency}} per {{response.Unit}}
                                        = {{response.ExtPrice | currency}} |
                                        available on: {{display.getjsdate(response.Delivery) | date:"mediumDate"}}
                                    </div>
                                    <div class="container row">
                                        Memo: {{response.Memo}}
                                    </div>
                                    <div ng-show="response.ProposedBy == display.userinfo.UserName">
                                        <button class="btn btn-danger" ng-click="display.deleteresponse(response.Id)">Delete</button>
                                    </div>
                                </div>
                            </div>
                       
                    </div><!--end of list of offers section-->
           
        </div>
    </div>
        

    <div class="pagebar btn-group" role="group" aria-label="...">
        <button ng-hide="display.page <= 2" type="button" class="btn btn-default"><div ng-click='display.goto(1)'>go to page 1</div></button>
        <button ng-hide="display.page === 1" type="button" class="btn btn-default"><div ng-click='display.goto(display.page - 1)'>go to page {{display.page - 1}}</div></button>
        <button type="button" class="btn btn-default">this is page {{display.page}}</button>
        <button type="button" class="btn btn-default"><div ng-click='display.goto(display.page + 1)'>go to page {{display.page + 1}}</div></button>

    </div>
</section>

    @section scripts{
        <script type="text/javascript" src="~/Scripts/angular.min.js"></script>
        <script type="text/javascript" src="~/Content/app.js"></script>
        
        <link rel="stylesheet" type="text/css" href="~/Content/dataTables.bootstrap.min.css" />
        
       
       
        
    }
