
@{
    ViewBag.Title = "AdList";
}

<h2>AdList</h2>

<section ng-controller="DisplayController as display" ng-init="display.page = 1">
    <button ng-click='display.create()'>Create New</button>
    <div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default" ng-click='display.search("/Advertisements/AllAds/", searchdata)' type="button">Search Products!</button>
            </span>
            <input type="text" class="form-control" ng-model="searchdata" placeholder="Search for Products...">
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="orgsearch" placeholder="Search Suplliers and Purchasers">
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click='display.search("/Advertisements/SearchOrg/" , orgsearch)' type="button">Search Organizations!</button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
    <table class="table" id="table_id">
        <tr>
            <th>
              Ad type
            </th>
            <th>
              Posted On
            </th>
            <th>
               Product
            </th>
            <th>
                Quantity
            </th>
            <th>
                Unit
            </th>
            <th>
                Unit Price
            </th>
            <th>
                Total Price
            </th>
            <th>
              Delivery Date
            </th>
            
            
           
            <th>
                Organization
            </th>
           
            <th>
                Memo
            </th>
        </tr>
        <tr ng-repeat="ad in display.show" >
            <td>
                {{ad.AdType}}
            </td>
            <td>
                {{ad.CreatedOn | date: "mediumDate"}}
            </td>
            <td>
                {{ad.Product}}
            </td>
            <td>
                {{ad.Quantity}}
            </td>
            <td>
                {{ad.Unit}}
            </td>
           
            <td>
                {{ad.UnitPrice | currency}}
            </td>
            <td ng->
                {{ad.ExtPrice | currency}}
            </td>
            <td>
                {{ad.Delivery | date: "mediumDate"}}
            </td>
            <td>
                {{ad.ProposedByOrganization}}
            </td>
            <td>
                {{ad.Memo}}
            </td>
            <td>
                <button ng-click='display.details(ad.Id)'>Details</button>
            </td>
            
        </tr>
    </table>

    <div class="pagebar btn-group" role="group" aria-label="...">
        <button ng-hide="display.page <= 2" type="button" class="btn btn-default"><div ng-click='display.goto(1)'>go to page 1</div></button>
        <button ng-hide="display.page === 1" type="button" class="btn btn-default"><div ng-click='display.goto(display.page - 1)'>go to page {{display.page - 1}}</div></button>
        <button type="button" class="btn btn-default">this is page {{display.page}}</button>
        <button type="button" class="btn btn-default"><div ng-click='display.goto(display.page + 1)'>go to page {{display.page + 1}}</div></button>

    </div>
</section>

    @section scripts{
        <script type="text/javascript" src="~/Scripts/angular.min.js"></script>
        <script type="text/javascript" src="~/Content/app.js"></script>
        <link rel="stylesheet" type="text/css" href="~/Content/dataTables.bootstrap.min.css" />
        @*<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.css">

<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>

<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.js"></script>

        <script>
            var alldata;
            $http.get('/Advertisements/AllAds').success(function (data) {
                 alldata = data;
            });
            $(document).ready(function () {
                $('#table_id').DataTable();
            });
            $('#table_id').dataTable({
                alldata
            })
        </script>*@
        
        
    }
