
@{
    ViewBag.Title = "Fork & Farm Arkansas";
}


<section ng-controller="DisplayController as display" ng-init="display.page = 1">
    <!--information bar-->
    <div class="green">
       
        <button class="btn btn-primary" ng-click="display.getdata('/advertisements/allads')">All Ads</button>
        <button class="btn btn-primary" ng-click="display.getdata('/advertisements/supplylist')">Suppliers' Ads</button>
        <button class="btn btn-primary" ng-click="display.getdata('/advertisements/purchaselist')">Purchasers' Ads</button>
        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">new ad</button>

        <div ng-show="display.userinfo.UserName == null"><!--show when no user logged in--><span class="bigtext">Please <a href="/Account/Login">Login</a> or <a href="/Account/Register">Register</a></span></div>
        <div ng-hide="display.userinfo.UserName == null" class="row container"><!--hide when no user logged in-->
            My Organization: <span class="bigtext">{{display.userinfo.Organization}}</span>
            <ul class="notification">
                <li>
                    <a # ng-click="display.getdata('/deals/dealstome'); display.resetcount();">Offers to me: <span class=" bigtext">{{display.userinfo.DealToMeCount}}</span></a>
                    <span ng-hide="display.userinfo.CountNewResponses==0" class="red"> New Offers:<span class="bigtext">{{display.userinfo.CountNewResponses}}</span></span>
                </li>
                <li>
                    <a # ng-click="display.getdata('/advertisements/myads')"> My active advertisements: <span class="bigtext">{{display.userinfo.AdCount}}</span></a>
                </li>
                <li>
                    <a # ng-click="display.getdata('/deals/dealsfromme')">Offers from me: <span class="bigtext">{{display.userinfo.DealFromMeCount}}</span></a>
                </li>
                <li>
                    My Role: <span class="bigtext">{{display.userinfo.UserRole}}</span>
                </li>

                <li>
                    <a>My Contact Phone: <span class="bigtext">{{display.userinfo.Phone}}</span></a>
                </li>
            </ul>
        </div>
        
    </div>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create a new Advertisement!</h4>
                </div>
                <div class="modal-body">
                    <form id="createform" name="createform" class="form-horizontal" ng-submit='display.create(newad); createform.$setPristine()'>
                        <div class="form-group">
                            <label class="control-label col-md-2">Product</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" type="text" ng-model="newad.Product" placeholder="What Product?" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Product" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Quantity</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" type="text" ng-model="newad.Quantity" placeholder="How Many?" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Quantity" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Unit</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" type="text" ng-model="newad.Unit" placeholder="lbs, quarts, each, etc." />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Unit" data-valmsg-replace="true"></span>
                            </div>
                        </div> 
                        <div class="form-group">
                            <label class="control-label col-md-2">Unit Price</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" type="text" ng-model="newad.UnitPrice" placeholder="how much per?" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Unit Price" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Payment Terms</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" type="text" ng-model="newad.PaymentTerms" placeholder="cash, net15, etc." />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Payment Terms" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Reference</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" type="text" ng-model="newad.Invoice" placeholder="Invoice or Purchase order #" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Reference" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Memo</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" type="text" ng-model="newad.Memo" placeholder="put additional information here" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Memo" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Delivery Date</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" type="date" ng-model="newad.Delivery" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Delivery Date" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="col-md-offset-1 col-md-1 container">
                            <input class="btn btn-primary" ng-disabled="createform.$pristine" type="submit" value="Submit" />
                        </div>
                        <div class="col-md-offset-3 col-md-1">
                            <input type="reset" class="btn btn-danger" value="Reset" ng-click="createform.$setPristine()" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
   

    <div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default" ng-click='display.search("/Advertisements/AllAds/", searchdata)' type="button">Search Products!</button>
            </span>
            <input type="text" class="form-control" ng-model="searchdata" placeholder="Search for Products...">
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="orgsearch" placeholder="Search Suplliers and Purchasers">
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click='display.search("/Advertisements/SearchOrg/" , orgsearch)' type="button">Search Organizations!</button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
    <div class="container green">
        
        <div class="container mylist" ng-repeat="ad in display.show" >
            <div class="row">
                <div class="col-xs-6 col-sm-2 col-md-1">
                    {{ad.AdType}}
                    <div ng-show="ad.AdType =='response'">
                        <button class="btn btn-warning" ng-init="id = ad.OfferId" ng-click="display.getdata('/Advertisements/GetOneAd/'+id)">Go To Ad</button>
                        <button class="btn btn-danger" ng-show="ad.IsNew"> New!</button>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-2 col-md-1">
                    Posted on:<br />  {{display.getjsdate(ad.CreatedOn) | date: "short"}}
                </div>
                <div class="col-xs-6 col-sm-2 col-md-1">
                    {{ad.Product}}
                </div>
                <div class="col-xs-6 col-sm-2 col-md-1">
                    {{ad.Quantity}} {{ad.Unit}}
                </div>
               
                <div class="col-xs-6 col-sm-2 col-md-1">
                    per {{ad.Unit}}: <br />  {{ad.UnitPrice | currency}}
                </div>
                <div class="col-xs-6 col-sm-2 col-md-1">
                    total: <br />  {{ad.ExtPrice | currency}}
                </div>
                <div class="col-xs-6 col-sm-2 col-md-1">
                    for delivery on: <br />  {{display.getjsdate(ad.Delivery) | date: "mediumDate"}}
                </div>
                <div class="col-xs-6 col-sm-2 col-md-1">
                    {{ad.ProposedByOrganization}}
                </div>
                <div>
                    <button ng-show="display.userinfo.UserName == ad.ProposedBy && ad.AdType != 'response'" class="btn btn-danger" ng-click="display.deletead(ad.Id)">Delete</button>
                </div>
            </div>
            
            <div class="row">
                Memo:  {{ad.Memo}}

            </div>
            <div class="row">
                <!--Hide section if transaction not allowed-->
                <div ng-show="(ad.AdType=='Purchase Ad' && display.userinfo.UserRole =='Supplier') || (ad.AdType=='Supply Ad' && display.userinfo.UserRole=='Purchaser')">
                    <button class="btn btn-warning" ng-click="showOffer = !showOffer">Make an Offer</button>
                </div>

                    <button class="btn btn-info" ng-click="showDetails = !showDetails; display.responses = {}">Details and Responses</button>
                    <div ng-show="showOffer" class="container">
                        <h3>Make an Offer</h3>
                        <form id="offerform" name="offerform" class="form-horizontal" ng-submit='display.submitoffer(ad.Id, deal); offerform.$setPristine()'>

                            <div class="form-group">
                                <label class="control-label col-md-2">Quantity</label>
                                <div class="col-md-10">
                                    <input class="form-control text-box single-line" type="text" ng-model="deal.Quantity" ng-init="deal.Quantity = ad.Quantity" />
                                    <span class="field-validation-valid text-danger" data-valmsg-for="Quantity" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Unit Price</label>
                                <div class="col-md-10">
                                    <input class="form-control text-box single-line" type="text" ng-model="deal.UnitPrice" ng-init="deal.UnitPrice = ad.UnitPrice" />
                                    <span class="field-validation-valid text-danger" data-valmsg-for="Unit Price" data-valmsg-replace="true"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">Delivery Date</label>
                                <div class="col-md-10">
                                    <input class="form-control text-box single-line" type="date" ng-model="deal.Delivery" ng-init="deal.Delivery = display.getjsdate(ad.Delivery)" />
                                    <span class="field-validation-valid text-danger" data-valmsg-for="Delivery Date" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Payment Terms</label>
                                <div class="col-md-10">
                                    <input class="form-control text-box single-line" type="text" ng-model="deal.PaymentTerms" ng-init="deal.PaymentTerms = ad.PaymentTerms" />
                                    <span class="field-validation-valid text-danger" data-valmsg-for="Payment Terms" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Memo</label>
                                <div class="col-md-10">
                                    <input class="form-control text-box single-line" type="text" ng-model="deal.Memo" placeholder="Enter Memo notes here..." />
                                    <span class="field-validation-valid text-danger" data-valmsg-for="Memo" data-valmsg-replace="true"></span>
                                </div>
                            </div>

                            <div class="col-md-offset-2 col-md-1">
                                <input class="btn btn-primary" ng-disabled="offerform.$pristine" type="submit" value="Submit" />
                            </div>
                            <div class="col-md-1">
                                <input type="reset" class="btn btn-danger" value="Reset" ng-click="offerform.$setPristine()" />
                            </div>
                        </form>
                </div><!--end of make offer collapsable section-->
                 <div ng-show="showDetails" class="container"><!--collapsible details section-->
                    Ad Details <br/>
                    Proposed by user: {{ad.ProposedBy}} 
                    Contact Phone Number: {{ad.ProposedByPhone}}
                    Reference number: {{ad.Invoice}}
                        <div> <!--list of offers section-->
                            <div class="container mylist" ng-repeat="response in ad.ResponseToAdvertisement">
                                <div class="container row">
                                    <div>
                                        
                                        <div class="form-group" ng-show="response.IsNew && display.userinfo.UserName == response.OfferedTo">
                                            <form ng-model="response">
                                            <button class="btn btn-danger" ng-click="display.setold(response.Id)">New!</button>
                                            <input type="checkbox" class="form-control" ng-model="response.IsNew" ng-click="display.setold(response.Id)"/>
                                            </form>
                                        </div>
                                        
                                        Response to Advertisement:   |
                                        Responded On: {{display.getjsdate(response.CreatedOn) | date: "short"}} <br />
                                        Proposed by: {{response.ProposedByOrganization}} |
                                        Quantity: {{response.Quantity}} {{response.Unit}} |
                                        Unit Price: {{response.UnitPrice | currency}} |
                                        Extended Price: {{response.ExtPrice | currency}} |
                                        Delivery Date: {{display.getjsdate(response.Delivery) | date:"mediumDate"}}
                                    </div>
                                    <div class="container row">
                                        Memo: {{response.Memo}}
                                    </div>
                                    <div ng-show="response.ProposedBy == display.userinfo.UserName">
                                        <button class="btn btn-danger" ng-click="display.deleteresponse(response.Id)">Delete</button>
                                    </div>
                                </div>
                            </div>
                        <div ng-show="display.allresponses.length > display.responses.length">
                            <button ng-click="display.showtenmoreresponses()">Show 10 more responses</button>
                        </div>
                    </div><!--end of list of offers section-->
            </div> <!--end of details collapsable section-->
        </div>
    </div>
        </div>

    <div class="pagebar btn-group" role="group" aria-label="...">
        <button ng-hide="display.page <= 2" type="button" class="btn btn-default"><div ng-click='display.goto(1)'>go to page 1</div></button>
        <button ng-hide="display.page === 1" type="button" class="btn btn-default"><div ng-click='display.goto(display.page - 1)'>go to page {{display.page - 1}}</div></button>
        <button type="button" class="btn btn-default">this is page {{display.page}}</button>
        <button type="button" class="btn btn-default"><div ng-click='display.goto(display.page + 1)'>go to page {{display.page + 1}}</div></button>

    </div>
</section>

    @section scripts{
        <script type="text/javascript" src="~/Scripts/angular.min.js"></script>
        <script type="text/javascript" src="~/Content/app.js"></script>
        <link rel="stylesheet" type="text/css" href="~/Content/dataTables.bootstrap.min.css" />
       
       
        
    }
