
@{
    ViewBag.Title = "AdList";
}

<h2>AdList</h2>
<section ng-controller="DisplayController as display" ng-init="display.page = 1">
    <table class="table">
        <tr>
            <th>
                Product
            </th>
            <th>
                Unit
            </th>
            <th>
                Quantity
            </th>
            <th>
                Unit Price
            </th>
            <th>
                Total Price
            </th>
            <th>
                Delivery Date
            </th>
            <th>
                Payment Terms
            </th>
            <th>
                Ad Created on
            </th>
            <th>
                Ad Posted by
            </th>
            <th>
                Organization
            </th>
            <th>
                Phone
            </th>
            <th>
                Memo
            </th>
        </tr>
        <tr ng-repeat="ad in display.show">
            <td>
                {{ad.Product}}
            </td>
            <td>
                {{ad.Unit}}
            </td>
            <td>
                {{ad.Quantity}}
            </td>
            <td>
                ${{ad.UnitPrice}}
            </td>
            <td>
                {{ad.ExtPrice}}
            </td>
            <td>
                {{ad.Delivery}}
            </td>
            <td>
                {{ad.PaymentTerms}}
            </td>
            <td>
                {{ad.CreatedOn}}
            </td>
            <td>
                {{ad.ProposedBy}}
            </td>
            <td>
                {{ad.ProposedByOrganization}}
            </td>
            <td>
               <a href="tel:{{ad.ProposedByPhone}}">{{ad.ProposedByPhone}}</a> 
            </td>
            <td>
                {{ad.Memo}}
            </td>
        </tr>
    </table>

    <div class="pagebar btn-group" role="group" aria-label="...">
        <button ng-hide="display.page <= 2" type="button" class="btn btn-default"><a href ng-click='display.index(1)'>go to page 1</a></button>
        <button ng-hide="display.page === 1" type="button" class="btn btn-default"><a href ng-click='display.index(display.page - 1)'>go to page {{display.page - 1}}</a></button>
        <button type="button" class="btn btn-default">this is page {{display.page}}</button>
        <button type="button" class="btn btn-default"><a href ng-click='display.index(display.page + 1)'>go to page {{display.page + 1}}</a></button>

    </div>
</section>

    @section scripts{
        <script type="text/javascript" src="~/Scripts/angular.min.js"></script>
        <script type="text/javascript" src="~/Content/app.js"></script>
    }
